<h2>{{ page.title }}</h2>

<h5><strong>{{ page.date | date: "%B %e, %Y" }} <small>. {{ page.category }} . <a href="http://www.baiyunconsulting.com{{ page.url }}#disqus_thread" data-disqus-identifier="{{ page.url }}">Comments</a></small></strong>
  <br/>

  <small>Tags: {% for tag in page.tags %} <a href="/tags/{{ tag }}/" title="View posts tagged with &quot;{{ tag }}&quot;"><u>{{ tag }}</u></a>  
    {% if forloop.last != true %} {% endif %} {% endfor %} </small>
    <br/>
    <br/>
  <div style="display:inline-block;">{% include twitter.html %}</div>
    <div style="display:inline-block;">{% include googleplus.html %}</div>
</h5>
