<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = '{{ site.disqus_shortname }}'; 
  var disqus_identifier = '{{ page.url }}';
  var disqus_url = 'http://shaneweng.com{{ page.url }}';

  /* * * DON'T EDIT BELOW THIS LINE * * */
 (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>

<h2>{{ page.title }}</h2>

<h5><strong>{{ page.date | date: "%B %e, %Y" }} <small>. {{ page.category }} . <a href="http://shaneweng.com{{ page.url }}#disqus_thread" data-disqus-identifier="{{ page.url }}">Comments</a></small></strong>
  <br/>

  <small>Tags: {% for tag in page.tags %} <a href="/tags/{{ tag }}/" title="View posts tagged with &quot;{{ tag }}&quot;"><u>{{ tag }}</u></a>  
    {% if forloop.last != true %} {% endif %} {% endfor %} </small>
    <br/>
    <br/>
  <div style="display:inline-block;">{% include twitter.html %}</div>
    <div style="display:inline-block;">{% include googleplus.html %}</div>
</h5>
